<table cellpadding="0" cellspacing="0" width="612">
<tr>
<td valign="middle" width="40"><%= image_tag("batch_sm.gif", :alt => "BoBlogo") %></td>
<td width="20"></td>
<td valign="middle" width="393"><span class="white"><b><font face="arial" color="white">For additional information or to purchase tickets by phone, <br>please call 412-326-0119. <a href="http://www.batchfoundation.org" class="yellowsm"><font color="#E2A430">Best of the Batch Foundation</font color></a> is <br>a registered 501(c)(3) non-profit organization. </b></td>

<td width="150" align="right" valign="middle"><img src="images/zebraevents.jpg" align="right" hspace="0" border="0"></td>
</tr>
</table>
